
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

html{
    margin: 0 auto;
    padding: 0 auto;
}
@media(max-width: 500px){
    html{
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
}

body{
    max-width: 900px;
    margin: 0 auto;
}

@media(max-width: 500px){
    body{
        width: 100%;
    }
}

.top-bar{
    display: flex;
    justify-content: center;
    margin: auto;
    /* width: 100%; */
    align-items: center;
    height: 100px;
    flex-direction: column;
    padding: 20px 0;
    background-color: rgb(4, 4, 20);
}

@media(max-width: 500px){
    .top-bar{
        width: 100%;
        height: 180px
    }  
}
@media(max-width: 800px){
    .top-bar{
        width: 100%;
    }  
}

.top-bar .container{
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: row;
    letter-spacing: 1px;
    padding: 0 10px;
}

@media(max-width: 500px){
    .top-bar .container{
        width: 100%;
        flex-direction: column;
    }  
}

.top-bar .container-center{
    margin: 0 auto;
    padding: 15px 10px 10px 10px;
}




@media(max-width: 500px){
    .top-bar .container-center  .container-left .container-right{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
    }
    
}

.top-bar .container-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 0 0 10px 0;
}


span{
    color: white;
    font-size: 20px;
    margin: 10px;
    justify-content: space-between;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}
@media(max-width: 500px){
    span{
        width: 100%;
    }
}


.meetbtn{
    color: white;
    font-size: 20px;
    margin: 10px;
    justify-content: space-between;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

h1, a{
    color: white;
    font-size: 40px;
    margin-right: 20px;
    font-family: Lobster, cursive;
}

@media(max-width: 500px){
    h1, a{
        margin: 0;
    }
}

input{
    border: 2px solid rgb(38, 37, 68);
    border-radius: 10px;
    background-color: rgb(45, 45, 58);
    color: white;
    font-size: 18px;
    padding: 7px 0 0 0;
}

@media(max-width: 500px){
    input{
        width: 100%;
        text-align: center;
    }
}

img{
    width: 50px;
    cursor: pointer;
}
@media(max-width: 500px){
    img{
        width: 10%;
    }
}


.bottom-bar{
    /* display: flex; */
    background-image:url('https://images.unsplash.com/photo-1490052961415-96ffc1244aa0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80');
    flex-direction: column;
    /* background-color: rgb(42, 134, 165); */
    color: white;
}

@media(max-width: 500px){
    .bottom-bar{
        width: 100%;
        overflow: hidden;
    }
}

h2{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    padding: 45px 20px 20px 30px;
}

.signbtn{
    background-color: rgb(209, 209, 65);
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 25px 35px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.tabs{
    border-bottom-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media(max-width: 500px){
    .tabs{
        width: 100%;
    }
}

.topics{
    display: flex;
    justify-content: none;
    align-content: center;
}

.tab{
    display: flex;
    justify-content: none;
    align-items: center;
    font-weight: bold;
    border: 1px solid black;
    border-color:grey;
    margin: 50px 0 30px 0;
    padding: 0 7px 0 7px;
    cursor: pointer;
    font-style: normal;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;

}

@media(max-width: 500px){
    .tab{
        width: 100%;
    }
}

.active-tab{
    background-color: rgb(103, 170, 224);
    color: white;
    text-decoration: underline;
    text-decoration-color: yellow;
}

.cards-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
    flex-wrap: wrap;
}

@media(max-width: 500px){
    .cards-container{
        width: 100%;
    }
}

.card{
    border-bottom-color: gray;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 235px;
    margin-bottom: 16px;
    padding: 24px;
    font-family: 'Lato', sans-serif;
}

.headline{
    font-size: 15px;
    text-align: left;
    margin: 0 0 0 0;
}

.img2{
    width: 110%;
}
@media(max-width: 500px){
    .img2{
        width: 100%;
    }
}

.author{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

button{
    background-color: white;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    font-size: 15px;
    /* border: 2px solid red; */
    margin: 0 5px 5px 0;
    text-align: left;
}

footer{
    background-color:rgb(4, 4, 20);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@media(max-width: 500px){
     footer{
        width: 100%;
    }
}

h4, p{
    cursor: pointer;
    font-style: normal;
    text-align: center;
    font-size: 17px;
}

h4{
    width: 100%;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-decoration-color: yellow;
    text-decoration: underline;

}

p{
    width: 100%;
    flex-direction: row;
    font-family: 'Lato', sans-serif;

}