@import "./carousel.less";
@import './mixin.less';
@import './variable.less';


// GENERAL PAGE
* {
  box-sizing: border-box;
  .marginsandpadding;
}

@media (max-width: 326px) {
    * {
      box-sizing: border-box;
      .marginsandpadding;
    }
  }

html {
  //   font-size: 62.5%;
  .marginsandpadding;
}
@media (max-width: 800px) {
  html {
    .width;
    .marginsandpadding;
  }
}

@media (max-width: 500px) {
  html {
    .width;
    .marginsandpadding;
  }
}

@media (max-width: 326px) {
    html {
      .width;
      .marginsandpadding;
    }
  }

body {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 62.5%;
}

@media (max-width: 800px) {
    body {
      .width;
      .marginsandpadding;
    }
  }

@media (max-width: 500px) {
    body{
        .width;
        .marginsandpadding;
    }
}

@media (max-width: 326px) {
    body {
      .width;
      .marginsandpadding;
    }
  }
// GENERAL PAGE


// TOP BAR/NAV
.top-bar {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  height: 100px;
  flex-direction: column;
  padding: 20px 0;
  background-color: #071622;
}

@media (max-width: 500px) {
  .top-bar {
    .width;
    height: 180px;
  }
}
@media (max-width: 800px) {
  .top-bar {
    .width;
    flex-direction: row;
    height: 180px;
  }
}

@media (max-width: 326px) {
    .top-bar {
      .width;
      height: 180px;
    }
  }

.top-bar .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
//   letter-spacing: 1px;
//   padding: 0 35px 0 10px;
//   margin: 10px 10p 10px 10px;
  width: 100%;
}

@media (max-width: 800px) {
  .top-bar .container {
    .width;
    flex-direction: column;
    padding: 0 auto;
  }
}

@media (max-width: 500px) {
  .top-bar .container {
    .width;
    flex-direction: column;
  }
}

@media (max-width: 326px) {
    .top-bar .container {
      .width;
      flex-direction: column;
    }
  }

 .container-center, .container-right{
    justify-content: center;
    align-items: center;


}

.container-left{
    margin: 0 30px 0 0;
    justify-content: flex-start;
}

@media(max-width: 800px){
    .top-bar .container-left{
        margin: 0 15px 0 0;
    }
    
}

.top-bar .container-center {
  margin: 3px 0 0 0;
  padding: 20px 10px 10px 10px;
}




@media (max-width: 500px) {
  .top-bar .container-center .container-left .container-right {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    .width;
  }
}

@media (max-width: 326px) {
    .top-bar .container-center .container-left .container-right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .width;
    }
  }

.top-bar .container-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0 0 2px 0;
}

@media(max-width: 800px){
    .top-bar .container-right {
        justify-content: space-around;
        letter-spacing: 1px;
        width: 60%;
    }
}


@media(max-width: 500px){
    .top-bar .container-right {
        .width;
    }
}




a.gallery,
  a.signup,
  a.loginbtn,
  span {
      margin: 2px 2px 2px 2px;
      letter-spacing: 0.5px
  }


@media (max-width: 800px) {
  .gallery,
  .signup,
  input[type="search"], .loginbtn
  span {
    letter-spacing: .5px;
  }
}

@media (max-width: 500px) {
  .gallery,
  .signup,
  .loginbtn,
  span {
      letter-spacing: 0.3px;
  }
}

@media (max-width: 326px) {
  .gallery,
  .signup,
  span {
    letter-spacing: 0.5px;
  }
}

.gallery {
  color: white;
  font-size:19px;
  margin: 5px;
  justify-content: space-between;
  font-style: normal;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.loginbtn {
    color: white;
    font-size: 19px;
    margin: 5px;
    justify-content: space-between;
    font-style: normal;
    font-family: "Lato", sans-serif;
    cursor: pointer;
  }

span {
  color: white;
  font-size: 19px;
  margin: 5px;
  justify-content: space-between;
  font-style: normal;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}


@media (max-width: 500px) {
  span {
    .width;
    text-align: center;
  }
}

@media (max-width: 326px) {
    span {
      .width;
      text-align: center;
    }
  }

.signup {
  color: white;
  font-size: 19px;
  margin: 5px;
  justify-content: space-between;
  font-style: normal;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
.container-center,  .container-right{
    justify-content: center;
}

h1,
a {
  color: white;
  font-size: 50px;
  margin: 0 0 0 0;
  font-family: Lobster, cursive;
  text-decoration: none;
}

@media (max-width: 800px) {
  h1,
  a {
    margin: 0 auto;
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  h1,
  a {
    margin: 0 auto;
  }
}

input[type="search"] {
  border-radius: 0.5rem;
  background-color: white;;
  color: #405768;
  font-size: 18px;
  padding: 2px 0 0 10px;
}


@media (max-width: 500px) {
  input[type="search"] {
    .width;
    text-align: center;
  }
}

@media (max-width: 326px) {
    input[type="search"] {
      .width;
      text-align: center;
    }
  }
img.icon {
  width: 50px;
  cursor: pointer;
  margin: 0 4px 0 0;
}

@media (max-width: 800px) {
  img.icon {
    width: 50px;
  }
}

@media (max-width: 500px) {
  img.icon {
    width: 10%;
  }
}
// TOP BAR/NAV


// BOTTOM BAR
.bottom-bar {
  background-image: url("https://images.unsplash.com/photo-1490052961415-96ffc1244aa0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80");
  background-size: 100%;
  flex-direction: column;
  height: 170px;
  color: white;
}

@media (max-width: 500px) {
  .bottom-bar {
    .width;
    height: 160px;
  }
}

@media (max-width: 326px) {
    .bottom-bar {
      .width;
      overflow: hidden;
    }
  }

h2.abouth2 , h2.galleryh2 {
    font-size: 30px;
    font-family: "Lato", sans-serif;
    padding: 45px 20px 20px 30px;
}


@media(max-width:800px){
    h2.abouth2, h2.galleryh2{
    font-size: 30px;
    text-align: left;
    }
}

@media(max-width:500px){
    h2.abouth2, h2.galleryh2{
    font-size: 25px;
    text-align: left;
    }
}

h2.joinus{
    font-size: 30px;
    font-family: "Lato", sans-serif;
    text-align: center;
}


h2 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  padding: 45px 20px 20px 30px;
//   text-decoration: underline;
}

@media(max-width:800px){
    h2{
    font-size: 20px;
    text-align: center;
    }
}

@media(max-width:500px){
    h2{
    font-size: 20px;
    text-align: center;
    }
}

a.signbtn {
  background-color: #e9db7b;
  border-radius: 10px;
  color: black;
  padding: 10px 20px 10px 20px;
  margin: 20px 20px 25px 35px;
  letter-spacing: 1px;
  opacity: 1;
  .font-normal;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

a.signbtn:hover{
    opacity: 0.5;
}

@media(max-width:800px){
    button.signbtn {
        margin: 15px 15px 20px 20px;
      }
}

@media(max-width:500px){
    button.signbtn {
        margin: 10px 10px 15px 15px;
      }
}

// BOTTOM BAR


//TABS AND GALLERY
.tabs {
  border-bottom-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  .width;
  .font-normal;
}

@media (max-width: 800px) {
  .tabs {
    .width;
    margin: 0 10px 10px 0;
    border-bottom-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    .font-normal;
  }
}

@media (max-width: 500px) {
  .tabs {
    .width;    
  }
}

@media (max-width: 326px) {
    .tabs {
      .width;
    }
  }

.topics {
  display: flex;
  justify-content: none;
  align-content: center;
}

.tab {
  display: flex;
  justify-content: none;
  align-items: center;
  font-weight: bold;
  border: 1px solid black;
  border-color: #081f30;
  margin: 50px 0 30px 0;
  padding: 0 5px 0 5px;
  cursor: pointer;
  font-style: normal;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}

@media (max-width: 800px) {
  .tab {
    .width;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .tab {
    .width;
    font-size: 15px;
    letter-spacing: 0;
    padding: 0 auto;
  }
}

@media (max-width: 326px) {
    .tab {
      .width;
      font-size: 11px;
      letter-spacing: 0;
    }
  }

.active-tab {
  background-color: #59a3c0;
  color: white;
  text-decoration: underline;
  text-decoration-color: yellow;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  .width;
  margin-top: 16px;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .cards-container {
    .width;
  }
}


@media (max-width: 326px) {
    .cards-container {
      .width;
    }
  }
  

.card {
  border-bottom-color: gray;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 235px;
  margin-bottom: 16px;
  padding: 24px;
  font-family: "Lato", sans-serif;
}

.headline {
  font-size: 16px;
  text-align: left;
  margin: 0 0 0 0;
}

.img2 {
  width: 110%;
  border-radius: 5px;
}

@media (max-width: 326px) {
    .img2 {
      .width;
      padding: 0 auto;
      margin: 20px 0;
    }
  } 


@media (max-width: 500px) {
  .img2 {
    .width;
    padding: 0 auto;
    margin: 20px 0;
  }
}

@media (max-width: 800px) {
  .img2 {
    .width;
    padding: 0 auto;
    margin: 20px 0;
  }
}

.author {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.seemorebtn {
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: 2px solid #081f30;
  border-radius: 5px;
  font-size: 12px;
  margin: 10px 10px 0 0;
  padding: 3px 5px 3px 5px;
  text-align: center;
  font-size: 14px;
  width: 100%;
}
// TABS AND GALLERY



// FOOTER
footer {
  background-color: #071622;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .width;
}

@media (max-width: 500px) {
  footer {
    .width;
  }
}

h4,
p.foot, p.foot a  {
  cursor: pointer;
  text-align: center;
}

h4 {
  .width;
  font-family: "Lato", sans-serif;
  text-decoration-color: yellow;
  font-size: 15px;
  margin: 0 0 5px 0;
}

p.foot {
  width: 100%;
  flex-direction: row;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  padding: 0 0 5px 10px;
  cursor: pointer;
}

 p.foot a {
    .width;
    flex-direction: row;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    padding: 0 auto;
  }

p.copyright{
    font-size: 15px;
}
// FOOTER



///////team images css

.teamimages {
  .width;
  height: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;

  a.img3 img {
    width: 100%;
    height: 60%;
    opacity: 1;
    object-fit: cover;
    border: 2px solid #081f30;
    margin: 5px 0 0 0;
    // padding: 0 auto;
  }

  a.img3 img:hover {
    opacity: 0.9;
    position: relative;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
  }
}

@media(max-width: 800px){
    .teamimages a.img3 img{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: 100%;
    }
}


@media(max-width: 500px){
    a.img3 img{
        border: 2px solid #081f30;
        .width;
        height: 250px;
    }
}

@media(max-width: 326px){
    a.img3 img{
        border: 2px solid #081f30;
        .width;
        height: 250px;
    }
}



h4.name {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: #081f30;
  font-size: 17px;
}
p.role {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #081f30;
  .font-normal;
}

.meettheteam {
  text-align: center;
  color: #081f30;
}

.team {
    .width;
  justify-content: none;
  align-items: center;
  margin: 0 10px 0 10px;
}



@media(max-width: 500px){
    .team{
        .width;
        padding: 0 10px 0 10px;
    }
}

@media(max-width: 326px){
    .team{
        .width;
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 800px) {
  .teamimages {
    width: 90%;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .teamimages {
    width: 90%;
    flex-direction: column;
  }
}


@media (max-width: 326px) {
    .teamimages {
      width: 90%;
      flex-direction: column;
    }
  }
// ///////team images css


/////features
.featuresartista {
  display: flex;
  flex-direction: column;
}

.textcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .width;
  padding: 0 10px 20px 0;
}

@media (max-width: 326px) {
    .textcontainer {
      flex-direction: column;
    }
  }

@media (max-width: 500px) {
  .textcontainer {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
    .textcontainer {
      flex-direction: column;
      width: 85%;
    }
  }

.text {
  border: 2px solid white;
  border-radius: 5%;
  background: #081f30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
//   padding: 10px 10px 10px 10px;
  margin: 20px 5px 0 0;
  .width;
}

@media(max-width: 580px){
    .text{
        width: 100%;
        padding: 10px 10px 10px 10px;
        margin: 20px 10px 10px 0;

    }
}

@media(max-width: 500px){
    .text{
        width: 100%;
        object-fit: contain;
        padding: 10px 10px 10px 10px;
        margin: 20px 10px 10px 0;

    }
}

@media(max-width: 326px){
    .text{
        width: 100%;
        object-fit: contain;
        padding: 10px 10px 10px 10px;
        margin: 20px 10px 10px 0;

    }
}

h3,
p {
  font-family: "Latos", sans-serif;
}
h3 {
  margin: 10px 5px 5px 10px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  }


p {
  text-align: top;
  .font-normal;
    padding: 10px 0 25px 10px;
  color: white;
}

hr{
    width: 100%;
    color: white;
}
// FEATURES




//////sign up form
input[type="text"],
input[type="password"] {
    .width;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #081f30;
  background: white;
  .font-normal;
  color: black;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background: white;
  font-family: "Latos", sans-serif;
  font-size: 18px;
  outline: none;
}

hr.featureshr {
  border: 2px solid white;
  margin-bottom: 25px;
}

.cancelbtn .signupbtn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 1;
}

button:hover {
  opacity: 0.5;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #be5e57;
  border: 2px solid #081f30;
  width: 50%;
}

.cancelbtn,
.signupbtn {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 10px 0;
}

.signupbtn {
  background-color: #59a3c0;
  border: 2px solid #081f30;
  padding: 14px 20px;
  width: 50%;
}

.container2 {
  padding: 16px;
  width: 80%;
}

@media(max-width: 500px){
    width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 500px) {
  .cancelbtn,
  .signupbtn {
    .width;
  }
}

@media (max-width: 326px) {
    .cancelbtn,
    .signupbtn {
      .width;
    }
  }

label,
b {
  font-family: "Latos", sans-serif;
  font-weight: 500;
  color: #081f30;
  font-size: 17px;
}

.formparagraph {
  font-family: "Latos", sans-serif;
  text-align: center;
  color: #081f30;
  font-size: 25px;
  .width;
}
//////sign up form
